h1{text-align: center;
   color:black;}
.character{font-family:"Courier New",Courier,monospace; text-align:center;}
table{background-color:pink;}
h2{font-size:20pt}
h4{font-size:20pt}
h5{font-size:20pt}
h6{font-size:20pt}
#lol{width:1000px;height: 400px}
.we{color:#84EEEF}
.lgd{color:#EF84E5}
.omg{color:#A11043}